adbutils==0.11.0
uiautomator2==2.16.17
uiautomator2cache==0.3.0.1

rich==13.3.5
pyyaml==6.0
numpy==1.24.3
opencv-python==4.7.0.72
websockets==11.0.3
anytree==2.8.0
pywin32==306
zerorpc==0.6.3
wrapt==1.15.0
pydantic==1.10.7
inflection==0.5.1
tqdm==4.65.0
ppocr-onnx==0.0.3.9
onepush==1.2.0
paho-mqtt==1.6.1
fastapi==0.104.1
uvicorn==0.23.2