# Image processing
numpy==1.24.3
opencv-python==4.7.0.72

# Device connection
adbutils==0.11.0
uiautomator2==2.16.17
uiautomator2cache==0.3.0.1
wrapt==1.15.0
psutil==6.1.1
pywin32==306

# OCR
ppocr-onnx==0.0.3.9
cn2an==0.5.23

# Web
paho-mqtt==1.6.1
fastapi==0.104.1
uvicorn==0.23.2
websockets==11.0.3
zerorpc==0.6.3
pydantic==2.10.0

# Utils
rich==13.3.5
pyyaml==6.0
tqdm==4.65.0
anytree==2.8.0
cryptography>=42.0.7
onepush==1.3.0
inflection==0.5.1

oashya

# For dev
#